body {
  margin: auto 0;
  font-family: 'Courier New', Courier, monospace;
  padding-top: 4rem;
}

/* standard tags */
button {
  border: 1px solid blue;
  border-radius: 1rem;
  padding: 0.5rem 1.25rem;
  font-family: inherit;
  background-color: blue;
}

button:hover {
  background-color: rgb(62, 62, 230);
  font-weight: bold;
  color:antiquewhite;
}

/* Navigation Bar */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.main-nav {
  display: flex;
  list-style: none;
  font-size: 1em;
  margin: 0;
  height: 100%;
  background: blue;
}

@media only screen and (max-width: 600px) {
  .main-nav {
      font-size: 0.75rem;
      padding: 0;
  }
}

.push {
  margin-left: auto;
}

.main-nav > li {
  padding: 1.25rem;
}

.main-nav > li > a:hover {
  font-weight: bold;
  cursor: pointer;
  color:antiquewhite;
}

a {
  color: black;
  text-decoration: none;
}

.cover {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.link-form {
  background-color: rgb(122, 122, 252);
  padding: 1rem;
  font-family: 'Courier New', Courier, monospace !important;
}

.link-form::placeholder {
  font-family: inherit !important;
}